{% load wagtailcore_tags %}
<div id="{{ dom_id }}" class="carousel slide" data-ride="carousel">
    {% if show_indicators %}
    <ol class="carousel-indicators">
        {% for item in value.items %}
        <li data-target="#{{ dom_id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    {% endif %}
    <div class="carousel-inner">
        {% for item in value.items %}
            {% include_block item %}
        {% endfor %}
    </div>
</div>
